<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{fragments/layout}">

<head>
<title>Designations</title>
</head>

<body>

	<div data-layout-fragment="content">
	
 		<th:block th:include="hr/designations/designationCreate"></th:block>
	    <th:block th:include="hr/designations/designationEdit"></th:block> 
	    <th:block th:include="hr/employees/employeeEdit"></th:block> 
		
		<!-- START PAGE CONTENT-->
 		<div class="page-heading"></div>  
		<ul class="breadcrumb" style="background-color: #f1f1f1;">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">
					Designations
				</li>				
		</ul>	
		
		<div class="page-heading">
			<h1 class="page-title">Designations</h1>
			<button type="button" class="btn btn-primary btnNewDesignation" th:href="@{/designation/create}">
						Add New
		    </button>  
		</div>
		
		<div class="page-content fade-in-up">
          
			<div class="ibox">

				<div class="ibox-head" style = "background-color:#3498db; color:white;">			
				 	<h5>List</h5>
				</div>
				
				<div class="ibox-body">
							<table id="designationTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th>Id</th>
											<th>Name</th>
											<th>Description</th> 
											<th>Salary per hour</th> 	
											<th>Employees</th>											
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="designation : ${designations}">
											<td th:text="${designation.id}"></td>
											<td th:text="${designation.name}"></td>	
											<td th:text="${designation.description}"></td>	
											<td th:text="${designation.salary.amountPerHour + ' ' + designation.salary.currency}"></td>
											<td>
												<button type="button" class="btn btn-info btnShowEmployees" th:href="@{/employees/des/} + ${designation.id}">
												Show employees</button>
											    <button type="button" class="btn btn-info btnHideEmployees">Hide</button>
											</td>																																	
									        <td>
											   <a	th:href="@{/designation/edit/} + ${designation.id}"
												    class="btn btn-default btn-xs m-r-5 btnEditDesignation"
													data-toggle="tooltip" data-original-title="Edit"> 
													<i class="fa fa-pencil font-20"></i></a>
											   <a	th:href="@{/designation/delete/} + ${designation.id}"
													class="btn btn-default btn-xs" data-toggle="tooltip"
													data-original-title="Delete"> 
													<i class="fa fa-trash font-20"></i></a> 
											</td>																		
										</tr>										
									</tbody>
							</table>																			

				</div><!-- ibox-body -->
			</div><!-- ibox -->
			
			<!-- Div where employee data for designation -->
			<div id="div1" style = "display:none;" >			
			</div>			
			
		</div> <!-- page-content -->
		
		<!-- scripts -->
		<div data-th-replace="fragments/scripts :: scripts"></div> 
			
		<script>
			$(document).ready(function()
			{
				  $(".btnShowEmployees").click(function()
				  {
				      $("#div1").fadeIn("slow");
				  });  
				  
				  $(".btnHideEmployees").click(function()
				  {
					  $("#div1").fadeOut("slow");
				  });
				  $('#designationTable').DataTable( {
						dom: 'Bfrtip',
				        buttons: [
				            'copy', 'csv', 'excel', 'pdf', 'print'
				        ]
				   });
					  
			});		
		 	<!-- Create New Designation Modal --> 
	         $('.btnNewDesignation').on('click', function(event){
	             //prevents redirection to blank page with JSON-Task-Object
	             event.preventDefault(); 
	             var href = $(this).attr('href');
	             
	             $.get(href, function(data){              	
	             	 $("#modal-body-designation-create").html(data);  
	             });
	           
	             $('#newDesignationModal').modal('show'); 
	         });
			
	        <!-- Edit Designation Modal-->
	 		$('.btnEditDesignation').on('click', function(event){
			    //prevents redirection to blank page with JSON-Task-Object
			    event.preventDefault();
			    var href = $(this).attr('href');
			
			    $.get(href, function(data){
			    	$("#modal-body-designation-edit").html(data);  
			    });
			
			    $('#editDesignationModal').modal('show'); 
			});
	 		
			<!-- Show Employess Of Designation -->
			$('.btnShowEmployees').on('click', function(event)
			{   //prevents redirection to blank page with JSON-Task-Object
			    event.preventDefault();
			    var href = $(this).attr('href');			    
			    $.get(href, function(data)
			    {			 
					  $("#div1").empty();
			          $("#div1").append( data ); 	
			    });
			});	
		</script>	

	</div><!-- content -->

</body>
</html>

