		
		<div class="ibox">
			<div class="ibox-head" style="background-color: #3498db; color: white;">
				<h5 th:if="${month == 1}" th:text="${'January'}"></h5>
				<h5 th:if="${month == 2}" th:text="${'February'}"></h5>
				<h5 th:if="${month == 3}" th:text="${'March'}"></h5>
				<h5 th:if="${month == 4}" th:text="${'April'}"></h5>
				<h5 th:if="${month == 5}" th:text="${'May'}"></h5>
				<h5 th:if="${month == 6}" th:text="${'June'}"></h5>
				<h5 th:if="${month == 7}" th:text="${'July'}"></h5>
				<h5 th:if="${month == 8}" th:text="${'August'}"></h5>
				<h5 th:if="${month == 9}" th:text="${'September'}"></h5>
				<h5 th:if="${month == 10}" th:text="${'October'}"></h5>
				<h5 th:if="${month == 11}" th:text="${'November'}"></h5>
				<h5 th:if="${month == 12}" th:text="${'December'}"></h5>
			</div>
		
			<div class="ibox-body">
		
				<table id="holidayTable2" class="table table-striped table-bordered"
					cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Year</th>
							<th>Month</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Description</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="holiday : ${holidays}">
							<td th:text="${holiday.id}"></td>
							<td th:text="${holiday.name}"></td>
							<td th:text="${holiday.year}"></td>
							<td><span th:if="${holiday.month == 1}" th:text="${'January'}"></span>
								<span th:if="${holiday.month == 2}" th:text="${'February'}"></span>
								<span th:if="${holiday.month == 3}" th:text="${'March'}"></span> <span
								th:if="${holiday.month == 4}" th:text="${'April'}"></span> <span
								th:if="${holiday.month == 5}" th:text="${'May'}"></span> <span
								th:if="${holiday.month == 6}" th:text="${'June'}"></span> <span
								th:if="${holiday.month == 7}" th:text="${'July'}"></span> <span
								th:if="${holiday.month == 8}" th:text="${'August'}"></span> <span
								th:if="${holiday.month == 9}" th:text="${'September'}"></span> <span
								th:if="${holiday.month == 10}" th:text="${'October'}"></span> <span
								th:if="${holiday.month == 11}" th:text="${'November'}"></span> <span
								th:if="${holiday.month == 12}" th:text="${'December'}"></span></td>
							<td th:text="${holiday.fromDate}"></td>
							<td th:text="${holiday.toDate}"></td>
							<td th:text="${holiday.description}"></td>
							<td><a th:href="@{/holiday/edit/} + ${holiday.id}"
								class="btn btn-default btn-xs m-r-5 btnEditHoliday"
								data-toggle="tooltip" data-original-title="Edit"> <i
									class="fa fa-pencil font-20"></i></a> <a
								th:href="@{/holiday/delete/} + ${holiday.id}"
								class="btn btn-default btn-xs" data-toggle="tooltip"
								data-original-title="Delete"> <i class="fa fa-trash font-20"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- ibox-body -->
		</div>
		<!-- ibox -->
		<script>
			$(document).ready(function() {
				$('#holidayTable2').DataTable({
					dom : 'Bfrtip',
					buttons : [ 'copy', 'csv', 'excel', 'pdf', 'print' ]
				});
		
			});
		</script>








