                     	  
                     	  
                    	   <div class = "row">  
                               <div class="col-sm-6 form-group">
	                   				 <label>Id</label>
	                   				 <input  value="" type="text" class="form-control" th:field="${salary.id}" readonly />                        				        		
	                		   </div> 	                		                         
                           </div>                      
	                	   <div class = "row"> 
	                	       <div class="col-sm-6 form-group">
                   					 <label>Currency</label>
                   					 <select class="form-control" id="currency" name="currency" th:field="${salary.currency}">
                       			        <option th:value="Manat">Manat</option> 
                            			<option th:value="Dollar">Dollar</option>   
                            			<option th:value="Euro">Euro</option>                       		
                       			  	 </select>                     				        		
                		   	   </div>    	   	                   	   
			                   <div class="col-sm-6 form-group">
			                   			 <label>Amount per hour</label>
			                   			 <input  value="" type="text" class="form-control" th:field="${salary.amountPerHour}" />                        				        		
			                   </div> 			                   		                   
			               </div>    
	
					
							
							
							