
	 	
<form th:action="@{/updateAttendance}" th:method="POST" >
	<div id="editAttendanceModal" class="modal fade" role='dialog'>
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">              
	                <h4 class="modal-title">Edit attendance</h4>
	                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	            </div>
	            <div class="modal-body" id= "modal-body-attendance-edit">
	                
	            </div>
	            <div class="modal-footer">
	                <input  type="submit" class="btn btn-primary" value="Submit"/>
	            </div>
	        </div>
	      </div>
	  </div>
</form>
	
	