
   <h4 class="modal-title">Room details</h4>
<table class="table table-bordered" cellspacing="0" width="100%">
	<tr>
		<td style="font-weight: bold;">Id</td>
		<td th:text="${room.id}"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">Floor No</td>
		<td th:text="${room.floor}"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">Room No</td>
		<td th:text="${room.roomNumber}"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">Room Type</td>
		<td th:text="${room.type}"></td>
	</tr>
	<tr>
		<td style="font-weight: bold;">Rent price</td>
		<td th:text="${room.rent}"></td>
	</tr>
</table>


