

<div class="row">
	<div class="col-sm-2 form-group">
		<label>Id</label> 
		<input value="" type="text" class="form-control" th:field="${file.id}" readonly />
	</div>	
</div>
<div class="row">
	<div class="col-sm-6 form-group">
		<label>Name</label> 
		<input value="" type="text" class="form-control" th:field="${file.name}" />
	</div>
	<div class="col-sm-6 form-group">
		<label>Project</label> 
		<select class="form-control" th:field="${file.project.id}">			
			<option th:each="project : ${projects}"
					th:text="${project.name}"
					th:value="${project.id}">
			</option>
		</select>
	</div>
</div>

