


<div class="modal" id="transactionsModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        	<h4 class="modal-title">Transactions</h4>
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" id="modal-body-transactions"  >
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>