			<div class="ibox">

					<div class="ibox-head" style="color: black;">
						<h2 class="">
							<i class="fa fa-tasks" aria-hidden="true"></i> Tasks
						</h2>
						<button type="button" class="btn btn-primary btnNewTask" th:href="@{/task/create}">
							Add New Task</button>
					</div>
					<br>
					<div style="margin-left: 1.5em;">
						<button type="button" class="btn btn-default btnGetTasks" 	th:href="@{/tasks/1}">All tasks</button>							
						<button type="button" class="btn btn-info 	 btnGetTasks" 	th:href="@{/tasks/2}">New</button>
						<button type="button" class="btn btn-primary btnGetTasks"  	th:href="@{/tasks/3}">In Progress</button>							
						<button type="button" class="btn btn-success btnGetTasks" 	th:href="@{/tasks/4}">Completed</button>
						<button type="button" class="btn btn-warning btnGetTasks" 	th:href="@{/tasks/5}">On Hold</button>							
						<button type="button" class="btn btn-danger  btnGetTasks" 	th:href="@{/tasks/6}">Cancelled</button>
						<br></br>
					</div>
					<div class="ibox-body">
						<table id="taskTable2" class="table table-striped table-bordered" cellspacing="0" width="100%">							
							<thead>
								<tr>
									<th>Name</th>
									<th>Description</th>
									<th>Start date</th>
									<th>End date</th>
									<th>Assigned To</th>
									<th>Project</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="task : ${chosenTasks}">
									<td th:text="${task.name}"></td>
									<td th:text="${task.description}"></td>	
									<td th:text="${task.startDate}"></td>	
									<td th:text="${task.endDate}"></td>										
									<td>
										<span>
										     <img class="img-circle" width="30" height="30"
											 th:src="@{'/images/employees/' + ${task.employee.imagePath} }" >
											 <a th:text="${task.employee.name + ' ' + task.employee.surname }"
											 	th:href="@{/employee/show/} + ${task.employee.id}" ></a>
										</span>
									</td>
									<td>
										<a th:href="@{/projectInfo/{id}(id=${task.project.id})}" class = "btnShowProject" >
                                             				<span th:text="${task.project.name}"></span>
									    </a>										
									</td>
									<td>
										<span th:if="${task.status == 'New'}" class="badge badge-info">New</span> 
										<span th:if="${task.status == 'Progress'}" class="badge badge-primary">In Progress</span>	  
										<span th:if="${task.status == 'Completed'}" class="badge badge-success">Completed</span> 
										<span th:if="${task.status == 'Hold'}" class="badge badge-warning">On Hold</span>	 
										<span th:if="${task.status == 'Cancelled'}" class="badge badge-danger">Cancelled</span> 
										<span th:if="${task.status == ''}" class="badge badge-secondary">Not selected</span>	 
									</td>
									<td>
										<a  th:href="@{/task/edit/} + ${task.id}"
											class="btn btn-default btn-xs m-r-5 btnEditTask"
											data-toggle="tooltip" data-original-title="Edit"> 
											<i class="fa fa-pencil font-20"></i></a> 										
										<a  th:href="@{/task/delete/} + ${task.id}"
											class="btn btn-default btn-xs" data-toggle="tooltip"
											data-original-title="Delete"> 
											<i class="fa fa-trash font-20"></i></a>
									</td>
								</tr>
							</tbody>
						</table>

					</div>
					<!-- ibox-body -->
				</div>
				<!-- ibox -->
		<script>		
		$(document).ready(function()
		{		
			 <!-- Create New Task Modal --> 
	         $('.btnNewTask').on('click', function(event){
	             //prevents redirection to blank page with JSON-Task-Object
	             event.preventDefault(); 
	             var href = $(this).attr('href');
	             
	             $.get(href, function(data){              	
	             	 $("#modal-body-task-create").html(data);
	             });
	           
	             $('#newTaskModal').modal('show'); 
	         });
			
	        <!-- Edit Task Modal-->
	 		$('.btnEditTask').on('click', function(event){
			    //prevents redirection to blank page with JSON-Task-Object
			    event.preventDefault();
			    var href = $(this).attr('href');
			
			    $.get(href, function(data){
			    	$("#modal-body-task-edit").html(data);  
			    });
			
			    $('#editTaskModal').modal('show'); 
			});	
	 		
	 		<!-- Show Project Details-->
		 	$('.btnShowProject').on('click', function(event){
				    //prevents redirection to blank page with JSON-Task-Object
				    event.preventDefault();
				    var href = $(this).attr('href');
				
				    $.get(href, function(data){
				    	$("#modal-body-project").html(data);  
				    });
				
				    $('#projectModal').modal('show'); 
		    });
			
			$('#taskTable2').DataTable( {
				dom: 'Bfrtip',
		        buttons: [
		            'copy', 'csv', 'excel', 'pdf', 'print'
		        ]
		    });
			
			<!-- Show Needed Tasks -->
			$('.btnGetTasks').on('click', function(event)
			{   //prevents redirection to blank page with JSON-Task-Object
			    event.preventDefault();	
				var href = $(this).attr('href');	
				$.get(href, function(data)
				{		
					 $("#taskTableContent").empty( ); 
					 $("#taskTableContent").append( data ); 			          	
				 });
			});	
		});		
		</script>
				